{% extends "SemdropsSemdropsMobileBundle::baseForIPhone.html.twig" %}
{% block header %}Main Menu{% endblock %}
{% block content %}
	<p><strong>Welcome!</strong></p>
	<p>This is the index of Semdrops Mobile</p>
	<ul>
		<li class= "arrow"><a href= "{{ path('getCategories') }}">Get Categories</a></li>
		<li class= "arrow"><a href= "{{ path('addCategory') }}">Add Categories</a></li>
		<li class= "arrow"><a href= "{{ path('addPropertyTag') }}">Add Property Tag</a></li>
	</ul>
{% endblock %}
