<link href="{{ asset('iphone.css') }}" rel="stylesheet" type="text/css" />
{% block head %}
<HEAD>
<TITLE>Category - Semdrops Mobile</TITLE>
</HEAD> 
{% endblock %}
{% block title %} Category - Semdrops Mobile {% endblock %}
{% block body %}
    <br><br>
    Uri: {{ form.uri() }} <br>
    Category: {{ form.category() }} <br>

<input type= "button" onclick= "location.href='{{ path('homepage') }}'" value="Go Back to Main" name="gobackButton" />


{% endblock %}
