<ul>
	{% for category in tree %}	
		<li>{{ category.getName() }}</li>
		{% include 'SemdropsSemdropsMobileBundle:Semdrops:showcategories_recursive.html.twig' with {'tree': category.getFathers()} %}
	{% else %}
		<li>No more categories to show.</li>	
	{% endfor %}
</ul>
