body {
	background: rgb(197,204,211) url("../images/stripes.png");
	font-family: Helvetica;
	margin: 0 0 0 10px;
	padding: 0;
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
}

.resetButtonStyle {
	background: none;
	border:0;
}

ul + p, ul.data + p + p, ul.form + p + p {
	color: rgb(76,86,108);
	font: 14px Helvetica;
	text-align: center;
	text-shadow: white 0 1px 0;
	margin: 0 10px 17px 0;
}

#header {
	background: rgb(109,133,163) url("../images/header_background.png") repeat-x top;
	border-top: 1px solid rgb(205,213,223);
	border-bottom: 1px solid rgb(46,55,68);
	padding: 10px;
	margin: 0 0 0 -10px;
	min-height: 44px;
	-webkit-box-sizing: border-box;
}

	#header h1 {
		color: #fff;
		font: bold 20px/30px Helvetica;
		text-shadow: #2d3642 0 -1px 0;
		text-align: center;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		width: 49%;
		padding: 5px 0;
		margin: 2px 0 0 -24%;
		position: absolute;
		top: 0;
		left: 50%;
	}

ul {
	color: black;
	background: #fff;
	border: 1px solid #B4B4B4;
	font: bold 17px Helvetica;
	padding: 0;	   
	margin: 15px 10px 17px 0;
	-webkit-border-radius: 8px;
}
	
	ul li {
		color: #666;
		border-top: 1px solid #B4B4B4;
		list-style-type: none;	
		padding: 10px 10px 10px 10px;
	}
		
		li:first-child {	
			border-top: 0;
			-webkit-border-top-left-radius: 8px;
			-webkit-border-top-right-radius: 8px;
			}

		li:last-child {	
			-webkit-border-bottom-left-radius: 8px;
			-webkit-border-bottom-right-radius: 8px;
			}
							
		ul li.arrow {
			background-image: url("../images/chevron_b.png");
			background-position: right center;
			background-repeat: no-repeat;
		}
		
		ul li a {
			color: #000;
			text-decoration: none;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			display: block;
			padding: 12px 10px 12px 10px;
			margin: -10px;
			-webkit-tap-highlight-color:rgba(0,0,0,0);
		}

.button {
	color: #fff;
	font: bold 20px/46px Helvetica;
	text-decoration: none;
	text-align: center;
	text-shadow: #000 0 1px 0;
	border-width: 0px 14px 0px 14px;
	display: block;
	margin: 3px 0;
}
	.white {
		color: #000;
		text-shadow: #fff 0px 1px 0;
		-webkit-border-image: url("../images/button_white.png") 0 14 0 14;
	}
